@model ToolWorkshop.Data.Entities.Movement

<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_DateTime)
        </dd>
    </dl>
</div>